<div class="contenedor-formulario">
    <div class="wrap">
	     <mat-card-title class="text-center text-uppercase">Nuevo Cliente</mat-card-title>


		<mat-divider></mat-divider>
		<br>

<form #clienteForm=ngForm>
		<mat-form-field id="campo1" appearance="outline">
			<mat-label>Identificacion</mat-label>
						<input matInput
						[(ngModel)]="cliente.Id_Cliente"
						#elementIdentificacionControl = "ngModel"
						type="text"
						name="Id_Cliente"
						placeholder="Identificación"
						maxlength="30"
						required=""
						>
						<mat-hint alig="start">
							<span [hidden] = "elementIdentificacionControl.pristine || 
							!elementIdentificacionControl.errors?.required" class = "tc-red-600"> Requerido
							</span>
						</mat-hint>
		</mat-form-field>
		<mat-form-field id="campo1" appearance="outline">
			<mat-label>Primer Apellido</mat-label>
						<input matInput
						[(ngModel)]="cliente.Primer_Apellido"
						#elementPrimerApellidoControl = "ngModel"
						type="text"
						name="Primer_Apellido"
						placeholder="Primer Apellido"
						maxlength="30"
						required=""
						>
						<mat-hint alig="start">
							<span [hidden] = "elementPrimerApellidoControl.pristine || 
							!elementPrimerApellidoControl.errors?.required" class = "tc-red-600"> Requerido
							</span>
						</mat-hint>
		</mat-form-field>

		<mat-form-field id="campo1" appearance="outline">
			<mat-label>Segundo Apellido</mat-label>
						<input matInput
						[(ngModel)]="cliente.Segundo_Apellido"
						#elementSegundoApellidoControl = "ngModel"
						type="text"
						name="Segundo_Apellido"
						placeholder="Segundo Apellido"
						maxlength="30"
						required=""
						>
						<mat-hint alig="start">
							<span [hidden] = "elementSegundoApellidoControl.pristine || 
							!elementSegundoApellidoControl.errors?.required" class = "tc-red-600"> Requerido
							</span>
						</mat-hint>
		</mat-form-field>

		<mat-form-field id="campo1" appearance="outline">
			<mat-label>Nombres</mat-label>
						<input matInput
						[(ngModel)]="cliente.Nombres"
						#elementNombresControl = "ngModel"
						type="text"
						name="Nombres"
						placeholder="Nombres"
						maxlength="30"
						required=""
						>
						<mat-hint alig="start">
							<span [hidden] = "elementNombresControl.pristine || 
							!elementNombresControl.errors?.required" class = "tc-red-600"> Requerido
							</span>
						</mat-hint>
		</mat-form-field>

		<mat-form-field id="campo1" appearance="outline">
			<mat-label>Administrador</mat-label>
						<input matInput type="number"
						[(ngModel)]="cliente.Id_Admin"
						#elementIdAdminControl = "ngModel"
						type="text"
						name="Id_Admin"
						placeholder="Administrador"
						maxlength="30"
						required=""
						>
						<mat-hint alig="start">
							<span [hidden] = "elementIdAdminControl.pristine || 
							!elementIdAdminControl.errors?.required" class = "tc-red-600"> Requerido
							</span>
						</mat-hint>
		</mat-form-field>

		<mat-form-field id="campo1" appearance="outline">
			<mat-label>Celular</mat-label>
						<input matInput
						[(ngModel)]="cliente.Celular"
						#elementCelularControl = "ngModel"
						type="text"
						name="Celular"
						placeholder="Celular"
						maxlength="30"
						required=""
						>
						<mat-hint alig="start">
							<span [hidden] = "elementCelularControl.pristine || 
							!elementCelularControl.errors?.required" class = "tc-red-600"> Requerido
							</span>
						</mat-hint>
		</mat-form-field>

		<mat-form-field id="campo1" appearance="outline">
			<mat-label>Correo</mat-label>
						<input matInput
						[(ngModel)]="cliente.Mail"
						#elementMailControl = "ngModel"
						type="text"
						name="Mail"
						placeholder="Mail"
						maxlength="30"
						required=""
						>
						<mat-hint alig="start">
							<span [hidden] = "elementMailControl.pristine || 
							!elementMailControl.errors?.required" class = "tc-red-600"> Requerido
							</span>
						</mat-hint>
		</mat-form-field>

		<mat-form-field id="campo1" appearance="outline">
			<mat-label>Sexo</mat-label>
						<input matInput
						[(ngModel)]="cliente.Sexo"
						#elementSexoControl = "ngModel"
						type="text"
						name="Sexo"
						placeholder="Sexo"
						maxlength="30"
						required=""
						>
						<mat-hint alig="start">
							<span [hidden] = "elementSexoControl.pristine || 
							!elementSexoControl.errors?.required" class = "tc-red-600"> Requerido
							</span>
						</mat-hint>
		</mat-form-field>
	</form>
<mat-divider></mat-divider>
			


<button mat-button [disabled]="!clienteForm.valid" color="primary" (click)="save()">
			Guardar </button>
			<button mat-button (click)="redirect()"> Volver </button>

    </div>
</div>























