<br>
<div class="container">
	<div class="card">
		<div class="card-header text-center text-uppercase">Calculadora</div>
			<div class="card-body">
				<div class="form-gruop d-flex flex-row justify-content-between" >
					<p>
  						
						<mat-form-field id="campo1"appearance="outline">
						  <mat-label>kilates</mat-label>
						  <mat-select [formControl]="kilateControl" required [(ngModel)]='kilates'>
						    <mat-option *ngFor="let kila of kil" [value]="kila.num">
      						{{kila.num}}
    						</mat-option>
						  </mat-select>
						  <mat-error *ngIf="kilateControl.hasError('required')">Por favor seleciona los kilates deseados</mat-error>
						  <mat-hint></mat-hint>
						</mat-form-field>
					</p>
					<p>
  						<mat-form-field id="campo1"appearance="outline">
    						<mat-label>Peso(Gramos)</mat-label>
    						<input matInput [(ngModel)]='peso' placeholder="Solo numeros" type="number">
    						<mat-hint></mat-hint>
  						</mat-form-field>
					</p>
				</div>
				<div class="d-flex flex-row justify-content-between">
					<mat-radio-group [(ngModel)]='valor'>
  						<mat-radio-button value="1"
  									  matTooltip="El precio del oro esta a ${{kilataje}}"
  									  >Precio oro</mat-radio-button>
  					</mat-radio-group>
  					<mat-radio-group [(ngModel)]='valor'>
  						<mat-radio-button value="2"
  									  matTooltip="El precio de la plata esta a ${{kilataje}}"
  									  >Precio plata</mat-radio-button>
  					</mat-radio-group>


					<button (click)="calcular()"
							matTooltip="Calcular" 
        					aria-label="Button that displays a tooltip when focused or hovered over"
        					class="btn btn-success">Calcular</button>
					<button (click)="limpiar()" 
							matTooltip="¿Deseas limpiar los valores del tablero?"
        					aria-label="Button that displays a tooltip when focused or hovered over"
        					class="btn btn-danger">Limpiar</button>
					
				</div>
			</div>
			<div class="card-footer">
				<p>El precio real de su joya es: ${{resultado}}</p>
			</div>
	</div>
</div>
