<!--<mat-card>
	<ng-template tdLoading="clientes.list">
		<mat-list class="will-load">
			<div class="pad" *ngIf="clientes?.length === 0" layout="row" layout-align="center">
				<h3> No hay clientes para mostrar </h3>
			</div>
			<ng-template let-art let-last="last" ngFor [ngForOf]="clientes">
				<mat-list-item>
					<mat-icon matListAvatar>person</mat-icon>
					<h3 matLine> ID: {{art.id}}</h3>
					<h3 matLine> Nombre: {{art.Nombres}}</h3>
					<h3 matLine> Primer apellido: {{art.Primer_Apellido}}</h3>
					<h3 matLine> Segundo apellido: {{art.Segundo_Apellido}}</h3>
					<h3 matLine> Primer apellido: {{art.Primer_Apellido}}</h3>
					<h3 matLine> Celular: {{art.Celular}}</h3>
					<h3 matLine> Mail: {{art.Mail}}</h3>
					<h3 matLine> Sexo: {{art.Sexo}}</h3>
					<h3 matLine> Clave: {{art.Clave}} </h3>
					<h3 matLine> Id admin: {{art.Id_Admin}}</h3>
					<button mat-icon-button (click)="enviar(art)">
						<mat-icon>payment</mat-icon>
					</button>
					<button mat-icon-button (click)="delete(art)">
						<mat-icon>delete</mat-icon>
					</button>
				</mat-list-item>
				<mat-divider *ngIf="!last" [inset]="true"></mat-divider>
			</ng-template>
		</mat-list>
	</ng-template>
</mat-card>
<a mat-fab color="accent" class="mat-fab-bottom-right fixed z-3" [routerLink]="['add']">
	<mat-icon>add</mat-icon>
</a>
-->

<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar" >
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="Identificacion">
    <th mat-header-cell *matHeaderCellDef>Identificacion</th>
    <td mat-cell *matCellDef="let element"> {{element.cedula}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="Nombres">
    <th mat-header-cell *matHeaderCellDef> Nombres </th>
    <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="Primer">
    <th mat-header-cell *matHeaderCellDef> Primer apellido </th>
    <td mat-cell *matCellDef="let element"> {{element.primer}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="Segundo">
    <th mat-header-cell *matHeaderCellDef> Segundo apellido</th>
    <td mat-cell *matCellDef="let element"> {{element.segundo}} </td>
  </ng-container>
   <ng-container matColumnDef="Correo">
    <th mat-header-cell *matHeaderCellDef>Correo</th>
    <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
  </ng-container>
   <ng-container matColumnDef="Celular">
    <th mat-header-cell *matHeaderCellDef> Celular</th>
    <td mat-cell *matCellDef="let element"> {{element.celular}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


