<mat-toolbar id="mainToolbar" color="primary">
  <mat-icon
    (click)="onToolbarMenuToggle()"
    id="toolbarMenu">subject</mat-icon>
  Servimax
  <span class="toolbar-spacer"></span>
  <mat-icon
    class="toolbar-icon"
    matBadge="8"
    matBadgePosition="after"
    matBadgeColor="accent"
  >notifications</mat-icon>
</mat-toolbar>

<mat-sidenav-container
  id="sidenavContainer"
 fullscreen>
  <mat-sidenav
    mode="side"
    #sidenav
    id="sidenav"
    [class.menu-open]="isMenuOpen"
    [class.menu-close]="!isMenuOpen"
    opened>
    
    <mat-list id="menus">
      <mat-card>
        <mat-card-header>
          <div 
            mat-card-avatar 
            class="avatar"></div>

          <mat-card-title style="font-size:17px;">{{message}}</mat-card-title>
        </mat-card-header>
      </mat-card>

      <mat-list-item>
        <button 
        class="menu-item"
          mat-flat-button
          [routerLink]="['transacciones']"
>
          <mat-icon>assignment_turned_in</mat-icon>
        Transacciones</button>
      </mat-list-item>

      <mat-list-item>
          <button 
          class="menu-item"
            mat-flat-button
            [routerLink]="['herramientas']"
>
            <mat-icon>work</mat-icon>
          Herramientas</button>
        </mat-list-item>

        <mat-list-item>
            <button 
            class="menu-item"
              mat-flat-button
              [routerLink]="['inventario']"
>
              <mat-icon>assignment</mat-icon>
            Inventario</button>
          </mat-list-item>
    
          <mat-list-item>
            <button 
            class="menu-item"
              mat-flat-button
              [routerLink]="['usuarios']"
>
              <mat-icon>assignment_ind</mat-icon>
            Usuarios</button>
          </mat-list-item>


          <mat-list-item>
            <button 
            class="menu-item"
              mat-flat-button
              [routerLink]="['clientes']"
>
              <mat-icon>people</mat-icon>
            Clientes</button>
          </mat-list-item>

          <mat-list-item>
            <button 
            class="menu-item"
              mat-flat-button
              [routerLink]="['registro']"
>
              <mat-icon>people</mat-icon>
            Registro</button>
          </mat-list-item>

           <mat-divider></mat-divider>

          <mat-list-item>
            <button 
            class="menu-item"
              mat-flat-button
              [routerLink]="['login']" 
              (click)="logout()" [(ngModel)]="editMessage" (click)="changeMessage()">
              <mat-icon>exit_to_app</mat-icon>
            Cerrar sesión</button>
          </mat-list-item>

    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content
  [ngStyle]="{ 'margin-left.px': contentMargin }">

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>




