<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Compra">
    <div class="contenedor-formulario">
      <div class="wrap">
        
          <mat-form-field id="campo1" appearance="outline">
            <mat-label>Nombre del Cliente</mat-label>
           <input type="text" placeholder="Solo letras" required matInput [formControl]="myControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="myControl.hasError('required')">Este campo es requerido</mat-error>
          </mat-form-field>
        
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Venta">e</mat-tab>
  <mat-tab label="Empeño">e</mat-tab>
</mat-tab-group>